<h2>CHAN-TSUGU ICONS(仮)</h2>
<p id="notice"><%= notice %></p>

<div class="box">
  <% @icons.each do |icon| %>
    <div class="portion one-fourth">
      <div class="ff-card shape-rounded shadow-mild padding-small">
        <img src="http://placehold.jp/300x300.png?text=アイコン" alt="">
        <p class="text-center"><%= icon.name %></p>
        <a class="ff-pill size-small shape-curved bg-orange-80 text-white text-regular">#女の子</a>
        <a class="ff-pill size-small shape-curved bg-orange-80 text-white text-regular">#夏</a>
        <a class="ff-pill size-small shape-curved bg-orange-80 text-white text-regular">#ぼうし</a>
        <div>
          <%= link_to 'Show', icon %>
          <%= link_to 'Edit', edit_icon_path(icon) %>
          <%= link_to 'Destroy', icon, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Icon', new_icon_path %>
