<h2>CHAN-TSUGU ICONS(仮)</h2>
<%= link_to 'New Icon', new_icon_path %>
<p id="notice"><%= notice %></p>

<div class="box">
  <% @icons.each do |icon| %>
    <div class="portion one-fourth">
      <div class="ff-card shape-rounded shadow-mild padding-small">
        <img src="<%= icon.image_url(:thumb) %>" alt="">
        <p class="text-center"><%= icon.name %></p>
        <% icon.tag_list.each do |tag| %>
          <a class="ff-pill size-small shape-curved bg-orange-80 text-white text-regular">#<%= tag %></a>
        <% end %>
        <div>
          <%= link_to 'Show', icon %>
          <%= link_to 'Edit', edit_icon_path(icon) %>
          <%= link_to 'Destroy', icon, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
